@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    background-color: #1d1d1d;
}

header {
    background-image: url("https://media.giphy.com/media/0fS9IEkkVueY2Kp0Zn/giphy.gif");
    background-size: cover;
    background-position: center;
    font-family: 'Lato';

    height: 100vh;
    position: relative
}


.header-container {
    width: 90%;
    padding-top: 20px;
    margin: auto;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    transition: .3s linear;
}


.logo:hover {
    background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 1s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-menu-title {
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
    font-weight: 700;
    transition: .3s linear;
}

.sec-menu-title:hover {
    background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 1s linear infinite;
}


.header-big-text {
    padding-top: 150px;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(270deg, #ffb000, #c41922);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    font-weight: 700;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.biography {
    padding-top: 50px;
}

.bio-container {
    width: 95%;
    margin: auto;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wiki {
    padding: 15px;
}

.wiki-text {
    color: #fff;
    width: 400px;
    font-size: 27px;
    padding-bottom: 10px;
}


.flex-for-wiki {
    display: flex;
    justify-content: center;
}

.flex-for-wiki a {
    margin-right: 15px;
}



.teams-container {
    width: 95%;
    margin: auto;
    padding-top: 120px;
}

.teams-title {
    text-align: center;
}

.teams-title span {
    color: #868686;
    border-radius: 15px;
    border-top: 15px solid #000;
    border-bottom: 15px solid #ffb000;
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
}

.teams-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.team-block-img {
    width: 250px;
    height: 250px;
}

.team-block {
    width: 265px;
    transition: .3s linear;
    cursor: pointer;
    box-shadow: rgba(240, 46, 46, 0.4) -5px 5px, rgba(153, 10, 10, 0.3) -10px 10px, rgba(240, 46, 46, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 46, 0.05) -25px 25px;
    margin-left: 40px;
    flex-wrap: wrap;
    padding: 10px;
}

.team-block:hover {
    background-color: grey;
    border-radius: 10px;

}

.team-block-date {
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
}


.team-block-title {
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 700;
}



.navi {
    margin-top: 50px;
}


footer {
    padding-top: 50px;
}

.footer-container {
    padding-top: 30px;
    text-align: center;
}

.me {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.me a {
    color: #fff800;
    font-weight: 700;
}


.copyright {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
}

@media all and (max-width: 1100px) {
    .teams-flex {
        flex-wrap: wrap;
    }

    .team-block-img {
        width: 200px;
        height: 200px;
    }

    .teams-title span {
        font-size: 35px;
    }

    .team-block {
        text-align: center;
        margin-top: 10px;
    }
}


@media all and (max-width: 865px) {
    .about {
        flex-wrap: wrap;
    }

    .bio-title {
        font-size: 35px;
    }

    .wiki-text {
        margin-top: 20px;
        font-size: 23px;
    }

    .team-block {
        margin-top: 25px;
    }


}

@media all and (max-width: 580px) {
    .flex-for-wiki {
        flex-wrap: wrap;
    }

    .wiki-btn {
        margin-top: 10px;
    }


    .bio-title {
        padding-bottom: 30px;
    }

    .logo {
        font-size: 23px;
    }

    .about {
        text-align: center;
        flex-wrap: wrap;
    }

    .sec-menu-title {
        font-size: 16px;
        margin-left: 15px;
    }

    .simple_img {
        height: 317px;
    }

    .header-big-text {
        font-size: 50px;
    }

    .wiki-text {
        width: 200px;
        font-size: 14px;
        text-align: center;
        margin: auto;
    }

    .teams-container {
        padding-top: 60px;
    }

    .teams-flex {
        justify-content: center;
    }

    .team-block-img {
        margin-top: 15px;
    }
}